# === MUST CHANGE ===
POSTGRES_PASSWORD=change-me-to-something-secure
DJANGO_SECRET_KEY=change-me-run-python3-c-import-secrets-print-secrets.token_urlsafe-64

# === Can keep defaults ===
POSTGRES_DB=medication_db
POSTGRES_USER=meduser
DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1